# US-Ignite Fed_Notebook

# Data from 2009-2016

In [1]:
import cartoframes
from cartoframes.auth import set_default_credentials
from cartoframes.viz import Map, Layer
import pandas as pd
import numpy as np
import geopandas as gpd
import requests
import json
from autocensus import Query #Library from Socrata to gather ACS Data
from cartoframes.data.services import Geocoding
set_default_credentials(
    base_url='https://usignite-admin.carto.com/',
    api_key='81c922dc336bd82103d92a768816a4567c444909'
)

from cartoframes.data.observatory import Catalog, Variable, Geography, Dataset

In [2]:
from linearmodels import PanelOLS
from linearmodels import RandomEffects
import ipywidgets as widgets
from ipywidgets import Output, Tab
from IPython.display import clear_output
from cartoframes.data.services import Isolines
from cartoframes.data.observatory import Variable
from cartoframes.data.observatory import Enrichment
from cartoframes.data.observatory import Catalog

In [3]:
# Function that uses API Call to obtain data from HUD and some Data Wrangling *Need to rework with the API Key
def hudzip(zipcode):
    # API Call to obtain data from HUD and some Data Wrangling
    hudresponse = requests.get(
        'https://www.huduser.gov/hudapi/public/usps',
        params={'type': '1', 'query': zipcode},
        headers = {"Authorization": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsImp0aSI6IjBkYmZmNGJmMjdiZjYzZjgxM2JiOTZmMGQ4NTNjZThjNzUxNjRiNTY5MGQzYThlMzc5ZDNjMDk2ZWVhM2Y3YjFhZjI0YzY2ZDNmM2NjNGFhIn0.eyJhdWQiOiI2IiwianRpIjoiMGRiZmY0YmYyN2JmNjNmODEzYmI5NmYwZDg1M2NlOGM3NTE2NGI1NjkwZDNhOGUzNzlkM2MwOTZlZWEzZjdiMWFmMjRjNjZkM2YzY2M0YWEiLCJpYXQiOjE1NzM2Nzc1OTUsIm5iZiI6MTU3MzY3NzU5NSwiZXhwIjoxNjA1Mjk5OTk1LCJzdWIiOiIzMjkiLCJzY29wZXMiOltdfQ.VdbEhWz_XL47o_A6_xTGBDQXuImIKxd7_Ee4vsksEC1-DdfgMwnouMcOqX5GggK3jnWzhkx9hnZ9ts-PKWiSIw"}
    )
    return hudresponse.json()

#Type:1 -> Zip to Tract Conversion
# Query : 5 Digit Zip Code Returns the list of Census Tracts within the Zip Code

In [4]:
#API to get the Zip codes for City of Portland
zipresponses = requests.get('https://api.censusreporter.org/1.0/geo/show/tiger2018?geo_ids=860|31000US38900')

In [5]:
##covert json for portland
zipdfs = pd.DataFrame(zipresponses.json())

In [6]:
zipdf=zipdfs

In [7]:
zipdict = []

In [8]:
for i in zipdf.features:
    features = pd.DataFrame(i)
    zipcode = features.properties['name']
    zipdict.append(zipcode)

Converting the ratio of Zip code to Census tracts from a dictionary to a Dataframe

In [9]:
##merge zip code with corresponding geoid(census tract)
c = []
for k in zipdict:
    huddf_results = pd.DataFrame(hudzip(k))
    temp = huddf_results.data.results
    b = pd.DataFrame(temp)
    b['zipcode']=huddf_results.data.input
    c.append(b)
    ratio_zip_tract = pd.concat(c)

In [10]:
#Working with the ZipCode Business Pattern Dataset

In [11]:
#converting Zipdict to a string
zipcodes = ","
zipcodes = zipcodes.join(zipdict)

In [12]:
zipcodes = 'zipcode:'+zipcodes

11	Agriculture, Forestry, Fishing and Hunting
21	Mining, Quarrying, and Oil and Gas Extraction
22	Utilities
23	Construction
31-33	Manufacturing
42	Wholesale Trade
44-45	Retail Trade
48-49	Transportation and Warehousing
51	Information
52	Finance and Insurance
53	Real Estate and Rental and Leasing
54	Professional, Scientific, and Technical Services
55	Management of Companies and Enterprises
56	Administrative and Support and Waste Management and Remediation Services
61	Educational Services
62	Health Care and Social Assistance
71	Arts, Entertainment, and Recreation
72	Accommodation and Food Services
81	Other Services (except Public Administration)
92

In [13]:
listNAICS = [11,21,22,23,31,32,33,42,43,44,45,48,49,51,52,53,54,55,56,61,62,71,72,81,92]

In [14]:
naicscode=['NAICS2007','NAICS2007','NAICS2007','NAICS2012','NAICS2012','NAICS2012','NAICS2012','NAICS2012','NAICS2017']

In [15]:
year=['2009','2010','2011','2012','2013','2014','2015','2016','2017']

In [16]:
zbpdfs=[]

In [17]:
j=0
for i in naicscode:
    url='https://api.census.gov/data/'+year[j]+'/zbp'
    
    temp= requests.get(
    url,
    params={'get':'EMPSZES,ESTAB', 'for':zipcodes,i:listNAICS,})
    zbpdf = pd.DataFrame(temp.json())
    zbpdf.columns = zbpdf.iloc[0]
    emcolumns='EMPSZES'+year[j]
    escolumns='ESTAB'+year[j]
    zbpdf.columns=[emcolumns, escolumns, 'NAICS', 'zipcode']
    if j>0:
        zbpdf=zbpdf.loc[:,~zbpdf.columns.duplicated()]
    zbpdf.drop(zbpdf.index[:1], inplace=True)
    zbpdfs.append(zbpdf)  
    j=j+1

In [18]:
#Converting the code for Employee sizes to average of High and low thresholds 
def empscovert(i):
    i=int(i)

    x=100
    if i>=207 and i<=232:
        x=10

    if i>=235 and i<=243:
        x=50
    if i>=249 and i<=252:
        x=200
    if i>=253 and i<=254:
        x=750
    if i>=260 and i<=263:
        x=1500
    if i>=270 and i<=271:
        x=3750
    if i>=272 and i<=273 :
        x=7500
    if i==280 or i==281:
        x=17500
    if i==282:
        x=37500
    if i==283:
        x=75000
    if i>=290:
        x=100000    
    return x

In [19]:
def processestab2(df, dftract,yearlist):
    j=0
    dflist=[]
    for i in df:
        estab="ESTAB"+yearlist[j]
        noemp="NoEmp"+yearlist[j]
        cestab="CEstab"+yearlist[j]
        totalemp="totalEmp"+yearlist[j]
        empszes="EMPSZES"+yearlist[j]
        
        temp = i
        temp=temp[(temp[empszes]!='001')]
        #pd.merge(i,dftract,right_on='zipcode',left_on='zipcode')
        
        temp[estab]=pd.to_numeric(temp[estab])
        temp[noemp]=temp[empszes].apply(lambda x: empscovert(x))
        
        #temp[cestab]=temp[estab]*temp["bus_ratio"]
        temp[totalemp]=temp[estab]*temp[noemp]
        temp=temp.groupby(['zipcode'], as_index=False).agg({totalemp: 'sum',  estab:'sum'
                                                               })            
    
    
        temp=pd.merge(temp,dftract,right_on='zipcode',left_on='zipcode')
        temp[cestab]=temp[estab]*temp["bus_ratio"]
    
        estabr="estabratio"+yearlist[j]
        empr="Empratio"+yearlist[j]
        temp[estabr]=temp['bus_ratio']*temp[estab]
        temp[empr]=temp['bus_ratio']*temp[totalemp]
        if j==0:
            tempmerge=temp
        else:
            tempmerge= pd.merge(tempmerge,temp[['zipcode','geoid',estabr,empr]],on=['zipcode','geoid'])
            
        j=j+1
    return tempmerge

In [20]:
years=['2009','2010','2011','2012','2013','2014','2015','2016','2017']

cbpNaics=processestab2(zbpdfs, ratio_zip_tract,years)

Note: NumExpr detected 12 cores but "NUMEXPR_MAX_THREADS" not set, so enforcing safe limit of 8.
NumExpr defaulting to 8 threads.

C:\Users\Ram\anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\Ram\anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\Ram\anaconda3\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [88]:
cbpNaics

,zipcode,totalEmp2009,ESTAB2009,geoid,res_ratio,bus_ratio,oth_ratio,tot_ratio,CEstab2009,estabratio2009,Empratio2009,estabratio2010,Empratio2010,estabratio2011,Empratio2011,estabratio2012,Empratio2012,estabratio2013,Empratio2013,estabratio2014,Empratio2014,estabratio2015,Empratio2015,estabratio2016,Empratio2016,estabratio2017,Empratio2017
0,97002,3630,194,41047010202,0.612215,0.762963,0.842105,0.630503,148.014815,148.014815,2769.555556,141.148148,2731.407407,129.703704,2166.814815,95.370370,1434.370370,90.792593,1358.074074,88.503704,1274.148148,88.503704,1335.185185,90.792593,1388.592593,82.400000,1159.703704
1,97002,3630,194,41047010201,0.208420,0.118519,0.052632,0.197327,22.992593,22.992593,430.222222,21.925926,424.296296,20.148148,336.592593,14.814815,222.814815,14.103704,210.962963,13.748148,197.925926,13.748148,207.407407,14.103704,215.703704,12.800000,180.148148
2,97002,3630,194,41005022800,0.125408,0.081481,0.078947,0.120283,15.807407,15.807407,295.777778,15.074074,291.703704,13.851852,231.407407,10.185185,153.185185,9.696296,145.037037,9.451852,136.074074,9.451852,142.592593,9.696296,148.296296,8.800000,123.851852
3,97002,3630,194,41005023800,0.037059,0.024691,0.026316,0.035639,4.790123,4.790123,89.629630,4.567901,88.395062,4.197531,70.123457,3.086420,46.419753,2.938272,43.950617,2.864198,41.234568,2.864198,43.209877,2.938272,44.938272,2.666667,37.530864
4,97002,3630,194,41047010303,0.016602,0.012346,0.000000,0.015985,2.395062,2.395062,44.814815,2.283951,44.197531,2.098765,35.061728,1.543210,23.209877,1.469136,21.975309,1.432099,20.617284,1.432099,21.604938,1.469136,22.469136,1.333333,18.765432
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1011,98686,6880,432,53011040808,0.030488,0.004728,0.009259,0.028885,2.042553,2.042553,32.529551,1.952719,31.631206,1.976359,31.111111,1.645390,34.042553,1.687943,33.711584,1.735225,34.940898,1.810875,35.981087,1.815603,36.359338,1.806147,24.302600
1012,98686,6880,432,53011040403,0.007761,0.009456,0.004630,0.007765,4.085106,4.085106,65.059102,3.905437,63.262411,3.952719,62.222222,3.290780,68.085106,3.375887,67.423168,3.470449,69.881797,3.621749,71.962175,3.631206,72.718676,3.612293,48.605201
1013,98686,6880,432,53011040909,0.002550,0.040189,0.023148,0.004659,17.361702,17.361702,276.501182,16.598109,268.865248,16.799054,264.444444,13.985816,289.361702,14.347518,286.548463,14.749409,296.997636,15.392435,305.839243,15.432624,309.054374,15.352246,206.572104
1014,98686,6880,432,53011040408,0.001774,0.002364,0.000000,0.001760,1.021277,1.021277,16.264775,0.976359,15.815603,0.988180,15.555556,0.822695,17.021277,0.843972,16.855792,0.867612,17.470449,0.905437,17.990544,0.907801,18.179669,0.903073,12.151300
1015,98686,6880,432,53011040709,0.000111,0.000000,0.000000,0.000104,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [21]:
cbpNaicsg1=cbpNaics[['zipcode','geoid','estabratio2017','Empratio2017','estabratio2016','Empratio2016',
                      'estabratio2015','Empratio2015','estabratio2014','Empratio2014',
                     'estabratio2013','Empratio2013','estabratio2012','Empratio2012',
                      'estabratio2011','Empratio2011','estabratio2010','Empratio2010',
                      'estabratio2009','Empratio2009'
                    ]]

In [22]:
len(cbpNaicsg1)

1016

In [23]:
cbpNaicsg1.geoid[700:800]

700    41051010100
701    41051007900
702    41051007100
703    41051004300
704    41051007000
          ...
795    53041972000
796    53041971900
797    53011040101
798    53011040202
799    53015001501
Name: geoid, Length: 100, dtype: object

In [24]:
from cartoframes import read_carto
censustracts = read_carto("SELECT * FROM tract_2010census_dp1_simple where geoid10 like '410%'")

In [25]:
censustractsnew = read_carto("SELECT * FROM tract_2010census_dp1_simple where geoid10 like '530%'")

In [26]:
censustracts= censustracts.append(censustractsnew)

In [27]:
##get geoid, total population and population of 65+
popl=['dp0010001','dp0010015','dp0010016','dp0010017','dp0010018','dp0010019','geoid10']
censustracts1=censustracts[popl]

In [28]:
censustracts1.head()

,dp0010001,dp0010015,dp0010016,dp0010017,dp0010018,dp0010019,geoid10
0,4979,447,268,185,109,103,41029003002
1,4462,238,188,146,92,119,41045970600
2,3808,181,138,113,64,64,41003010400
3,3203,196,129,86,59,40,41003010300
4,3177,199,176,120,122,113,41063960300

In [29]:
cbpNaics1 = pd.merge(censustracts,cbpNaicsg1,right_on='geoid',left_on='geoid10')

In [30]:
censustracts1=censustracts1.reset_index()

In [31]:
cbpNaics1.geoid=cbpNaics1.geoid.astype(str)

In [32]:
cbpNaics1.columns.values.tolist()

['cartodb_id',
 'the_geom',
 'namelsad10',
 'aland10',
 'awater10',
 'intptlat10',
 'intptlon10',
 'dp0010001',
 'dp0010002',
 'dp0010003',
 'dp0010004',
 'dp0010005',
 'dp0010006',
 'dp0010007',
 'dp0010008',
 'dp0010009',
 'dp0010010',
 'dp0010011',
 'dp0010012',
 'dp0010013',
 'dp0010014',
 'dp0010015',
 'dp0010016',
 'dp0010017',
 'dp0010018',
 'dp0010019',
 'dp0010020',
 'dp0010021',
 'dp0010022',
 'dp0010023',
 'dp0010024',
 'dp0010025',
 'dp0010026',
 'dp0010027',
 'dp0010028',
 'dp0010029',
 'dp0010030',
 'dp0010031',
 'dp0010032',
 'dp0010033',
 'dp0010034',
 'dp0010035',
 'dp0010036',
 'dp0010037',
 'dp0010038',
 'dp0010039',
 'dp0010040',
 'dp0010041',
 'dp0010042',
 'dp0010043',
 'dp0010044',
 'dp0010045',
 'dp0010046',
 'dp0010047',
 'dp0010048',
 'dp0010049',
 'dp0010050',
 'dp0010051',
 'dp0010052',
 'dp0010053',
 'dp0010054',
 'dp0010055',
 'dp0010056',
 'dp0010057',
 'dp0020001',
 'dp0020002',
 'dp0020003',
 'dp0030001',
 'dp0030002',
 'dp0030003',
 'dp0040001',
 'dp0040002',
 'dp0040003',
 'dp0050001',
 'dp0050002',
 'dp0050003',
 'dp0060001',
 'dp0060002',
 'dp0060003',
 'dp0070001',
 'dp0070002',
 'dp0070003',
 'dp0080001',
 'dp0080002',
 'dp0080003',
 'dp0080004',
 'dp0080005',
 'dp0080006',
 'dp0080007',
 'dp0080008',
 'dp0080009',
 'dp0080010',
 'dp0080011',
 'dp0080012',
 'dp0080013',
 'dp0080014',
 'dp0080015',
 'dp0080016',
 'dp0080017',
 'geoid10',
 'dp0080019',
 'dp0080020',
 'dp0080021',
 'dp0080022',
 'dp0080023',
 'dp0080024',
 'dp0090001',
 'dp0090002',
 'dp0090003',
 'dp0090004',
 'dp0090005',
 'dp0090006',
 'dp0100001',
 'dp0100002',
 'dp0100003',
 'dp0100004',
 'dp0100005',
 'dp0100006',
 'dp0100007',
 'dp0110001',
 'dp0110002',
 'dp0110003',
 'dp0110004',
 'dp0110005',
 'dp0110006',
 'dp0110007',
 'dp0110008',
 'dp0110009',
 'dp0110010',
 'dp0110011',
 'dp0110012',
 'dp0110013',
 'dp0110014',
 'dp0110015',
 'dp0110016',
 'dp0110017',
 'dp0120001',
 'dp0120002',
 'dp0120003',
 'dp0120004',
 'dp0120005',
 'dp0120006',
 'dp0120007',
 'dp0120008',
 'dp0120009',
 'dp0120010',
 'dp0120011',
 'dp0120012',
 'dp0120013',
 'dp0120014',
 'dp0120015',
 'dp0120016',
 'dp0120017',
 'dp0120018',
 'dp0120019',
 'dp0120020',
 'dp0130001',
 'dp0130002',
 'dp0130003',
 'dp0130004',
 'dp0130005',
 'dp0130006',
 'dp0130007',
 'dp0130008',
 'dp0130009',
 'dp0130010',
 'dp0130011',
 'dp0130012',
 'dp0130013',
 'dp0130014',
 'dp0130015',
 'dp0140001',
 'dp0150001',
 'dp0160001',
 'dp0170001',
 'dp0180001',
 'dp0180002',
 'dp0180003',
 'dp0180004',
 'dp0180005',
 'dp0180006',
 'dp0180007',
 'dp0180008',
 'dp0180009',
 'dp0190001',
 'dp0200001',
 'dp0210001',
 'dp0210002',
 'dp0210003',
 'dp0220001',
 'dp0220002',
 'dp0230001',
 'dp0230002',
 'shape_leng',
 'shape_area',
 'created_at',
 'updated_at',
 'dp0080018',
 'zipcode',
 'geoid',
 'estabratio2017',
 'Empratio2017',
 'estabratio2016',
 'Empratio2016',
 'estabratio2015',
 'Empratio2015',
 'estabratio2014',
 'Empratio2014',
 'estabratio2013',
 'Empratio2013',
 'estabratio2012',
 'Empratio2012',
 'estabratio2011',
 'Empratio2011',
 'estabratio2010',
 'Empratio2010',
 'estabratio2009',
 'Empratio2009']

In [33]:
cbpNaics1.reset_index(drop=True, inplace=True)

In [34]:
for i in cbpNaics1.columns:
    cbpNaics1[i] = cbpNaics1[i].astype(object)

In [35]:
cbpNaics1.head()

,cartodb_id,the_geom,namelsad10,aland10,awater10,intptlat10,intptlon10,dp0010001,dp0010002,dp0010003,...,estabratio2013,Empratio2013,estabratio2012,Empratio2012,estabratio2011,Empratio2011,estabratio2010,Empratio2010,estabratio2009,Empratio2009
0,54823,"(POLYGON ((-122.67809 45.56266900000014, -122....",Census Tract 38.03,1.23125e+06,0,+45.5663019,-122.6847298,3933,263,220,...,28.0929,638.06,27.7896,614.934,37.4571,1022.11,39.1632,1037.27,38.9736,1071.4
1,54874,"(POLYGON ((-122.723153 45.47230700000006, -122...",Census Tract 66.01,1.57524e+06,0,+45.4719196,-122.7334204,2513,145,156,...,20.484,342.596,20.7981,339.904,22.7276,377.821,22.3237,371.09,22.234,369.071
2,54924,"(POLYGON ((-122.58001 45.46152, -122.589372 45...",Census Tract 86,1.28215e+06,3236,+45.4693388,-122.5861747,4333,337,339,...,10.3988,140.662,9.86098,134.631,12.2895,206.347,12.4525,207.977,12.8437,216.127
3,54924,"(POLYGON ((-122.58001 45.46152, -122.589372 45...",Census Tract 86,1.28215e+06,3236,+45.4693388,-122.5861747,4333,337,339,...,20.3892,327.582,20.7457,325.443,31.5819,592.428,32.1166,580.308,31.8314,577.813
4,54795,"(POLYGON ((-122.579016 45.55542500000013, -122...",Census Tract 29.01,1.53618e+06,0,+45.5514471,-122.5927389,4428,312,196,...,42.7737,915.31,40.641,870.878,48.1649,1039.72,49.3498,1049.79,49.4682,995.882

In [36]:
# cbpNaics1.to_csv("~/Downloads/city_portland.csv")

In [37]:
# Oregon state 41 Portland 051

def finaldatamerge(variablelist,variablename,dfem):
    dfem.geoid=dfem.geoid.astype(str)
    for i in range(len(variablelist)):
        query = Query(
        estimate=5,
        years=[2009,2010,2011,2012,2013,2014,2015,2016,2017],
    
        variables=[variablelist[i]],
        for_geo='tract:*',
        in_geo=['state:06', 'county:073'],
    # Fill in the following with your actual Census API key
        census_api_key='0995bcf2c5a4aa42899cf705840809959c68cf75'
      )
        temp=query.run()
        temp.rename(columns={'value':variablename[i]}, 
                 inplace=True)
        if i==0:
            dfmerge=temp
        else:
            dfmerge = pd.merge(dfmerge, temp[[variablename[i],'geo_id','year']], on=['geo_id','year'])
            
            
    dfmerge.geo_id=dfmerge.geo_id.astype(str)
    dfmerge.geo_id=dfmerge.geo_id.apply(lambda x:x[9:20])
    frames=[]
    mergegeo=dfmerge[dfmerge['year']==2013]
    for i in yearlist:
        temp1=dfmerge[dfmerge['year']==i]
        if i<2013:
            temp1=temp1.drop(columns=['geometry','centroid'])
            temp1 = pd.merge(temp1, mergegeo[['geo_id','geometry','centroid']], on=['geo_id'])
        

        tempfinal= pd.merge(temp1,dfem,right_on='geoid',left_on='geo_id', how = 'left')
        print(dfem.head())
        
        yearstr=str(i)
        emprat='Empratio'+yearstr
        estabr='estabratio'+yearstr
        tempfinal=tempfinal[['geo_id','pop', 'centroid','year','geometry',
                             'edut','collegemale','collegefemale',
                             'households', 'income', 
                              'zipcode', 'geoid', emprat, estabr]]
        tempfinal.columns=['geo_id','pop', 'centroid','year','geometry', 'edut','collegemale',
                           'collegefemale','households', 'income', 
                         'zipcode', 'geoid',
                           'Empratio', 'estabratio']

        frames.append(tempfinal)


    final = pd.concat(frames)
    
#     import numpy as np
#     final = final.replace(np.nan, '', regex=True)
#     final=final[['geo_id','pop', 'centroid','year','geometry', 'edut','collegemale','collegefemale','households', 'income', 
#                'zipcode', 'geoid',  'Empratio', 'estabratio']]

    return final

In [38]:
import nest_asyncio
nest_asyncio.apply()

In [39]:
variablelist=['B15002_001E','B15002_015E','B15002_032E','B01001_001E','B00002_001E',
             'B19001_001E','B19083_001E']
variablename=['edut','collegemale','collegefemale','pop','households','income','gini']
yearlist=[2009,2010,2011,2012,2013,2014,2015,2016,2017]
dfem=cbpNaics1

In [40]:
cbpNaics1

,cartodb_id,the_geom,namelsad10,aland10,awater10,intptlat10,intptlon10,dp0010001,dp0010002,dp0010003,...,estabratio2013,Empratio2013,estabratio2012,Empratio2012,estabratio2011,Empratio2011,estabratio2010,Empratio2010,estabratio2009,Empratio2009
0,54823,"(POLYGON ((-122.67809 45.56266900000014, -122....",Census Tract 38.03,1.23125e+06,0,+45.5663019,-122.6847298,3933,263,220,...,28.0929,638.06,27.7896,614.934,37.4571,1022.11,39.1632,1037.27,38.9736,1071.4
1,54874,"(POLYGON ((-122.723153 45.47230700000006, -122...",Census Tract 66.01,1.57524e+06,0,+45.4719196,-122.7334204,2513,145,156,...,20.484,342.596,20.7981,339.904,22.7276,377.821,22.3237,371.09,22.234,369.071
2,54924,"(POLYGON ((-122.58001 45.46152, -122.589372 45...",Census Tract 86,1.28215e+06,3236,+45.4693388,-122.5861747,4333,337,339,...,10.3988,140.662,9.86098,134.631,12.2895,206.347,12.4525,207.977,12.8437,216.127
3,54924,"(POLYGON ((-122.58001 45.46152, -122.589372 45...",Census Tract 86,1.28215e+06,3236,+45.4693388,-122.5861747,4333,337,339,...,20.3892,327.582,20.7457,325.443,31.5819,592.428,32.1166,580.308,31.8314,577.813
4,54795,"(POLYGON ((-122.579016 45.55542500000013, -122...",Census Tract 29.01,1.53618e+06,0,+45.5514471,-122.5927389,4428,312,196,...,42.7737,915.31,40.641,870.878,48.1649,1039.72,49.3498,1049.79,49.4682,995.882
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1011,70787,"(POLYGON ((-121.827321 45.71615200000002, -121...",Census Tract 9504,2.19527e+08,1.65637e+07,+45.7497026,-121.6850022,2234,123,126,...,3.02128,43.4043,2.68085,43.4043,3.2766,44.2553,3.70213,48.5106,3.74468,50.6383
1012,70787,"(POLYGON ((-121.827321 45.71615200000002, -121...",Census Tract 9504,2.19527e+08,1.65637e+07,+45.7497026,-121.6850022,2234,123,126,...,14,140,11,110,13,130,14,140,11,110
1013,70787,"(POLYGON ((-121.827321 45.71615200000002, -121...",Census Tract 9504,2.19527e+08,1.65637e+07,+45.7497026,-121.6850022,2234,123,126,...,0,0,0,0,0,0,0,0,0,0
1014,70788,"(POLYGON ((-121.825319 45.71752400000003, -121...",Census Tract 9505,9.26739e+07,1.20603e+06,+45.7851341,-121.8925277,2460,154,145,...,29,290,27.0667,270.667,33.8333,522,38.6667,425.333,40.6,483.333
1015,70788,"(POLYGON ((-121.825319 45.71752400000003, -121...",Census Tract 9505,9.26739e+07,1.20603e+06,+45.7851341,-121.8925277,2460,154,145,...,0,0,0,0,0,0,0,0,0,0

In [41]:
df_finalraw=finaldatamerge(variablelist,variablename,cbpNaics1)

Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...

C:\Users\Ram\anaconda3\lib\site-packages\autocensus\query.py:195: UserWarning: B19083_001E is not a recognized variable for 2009. Note that the Census API does not contain 1-year estimate data for 2009
  warn(message)

Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
  cartodb_id                                           the_geom  \
0      54823  (POLYGON ((-122.67809 45.56266900000014, -122....
1      54874  (POLYGON ((-122.723153 45.47230700000006, -122...
2      54924  (POLYGON ((-122.58001 45.46152, -122.589372 45...
3      54924  (POLYGON ((-122.58001 45.46152, -122.589372 45...
4      54795  (POLYGON ((-122.579016 45.55542500000013, -122...

           namelsad10      aland10 awater10   intptlat10    intptlon10  \
0  Census Tract 38.03  1.23125e+06        0  +45.5663019  -122.6847298
1  Census Tract 66.01  1.57524e+06        0  +45.4719196  -122.7334204
2     Census Tract 86  1.28215e+06     3236  +45.4693388  -122.5861747
3     Census Tract 86  1.28215e+06     3236  +45.4693388  -122.5861747
4  Census Tract 29.01  1.53618e+06        0  +45.5514471  -122.5927389

  dp0010001 dp0010002 dp0010003  ... estabratio2013 Empratio2013  \
0      3933       263       220  ...        28.0929       638.06
1      2513       145       156  ...         20.484      342.596
2      4333       337       339  ...        10.3988      140.662
3      4333       337       339  ...        20.3892      327.582
4      4428       312       196  ...        42.7737       915.31

  estabratio2012 Empratio2012 estabratio2011 Empratio2011 estabratio2010  \
0        27.7896      614.934        37.4571      1022.11        39.1632
1        20.7981      339.904        22.7276      377.821        22.3237
2        9.86098      134.631        12.2895      206.347        12.4525
3        20.7457      325.443        31.5819      592.428        32.1166
4         40.641      870.878        48.1649      1039.72        49.3498

  Empratio2010 estabratio2009 Empratio2009
0      1037.27        38.9736       1071.4
1       371.09         22.234      369.071
2      207.977        12.8437      216.127
3      580.308        31.8314      577.813
4      1049.79        49.4682      995.882

[5 rows x 218 columns]
  cartodb_id                                           the_geom  \
0      54823  (POLYGON ((-122.67809 45.56266900000014, -122....
1      54874  (POLYGON ((-122.723153 45.47230700000006, -122...
2      54924  (POLYGON ((-122.58001 45.46152, -122.589372 45...
3      54924  (POLYGON ((-122.58001 45.46152, -122.589372 45...
4      54795  (POLYGON ((-122.579016 45.55542500000013, -122...

           namelsad10      aland10 awater10   intptlat10    intptlon10  \
0  Census Tract 38.03  1.23125e+06        0  +45.5663019  -122.6847298
1  Census Tract 66.01  1.57524e+06        0  +45.4719196  -122.7334204
2     Census Tract 86  1.28215e+06     3236  +45.4693388  -122.5861747
3     Census Tract 86  1.28215e+06     3236  +45.4693388  -122.5861747
4  Census Tract 29.01  1.53618e+06        0  +45.5514471  -122.5927389

  dp0010001 dp0010002 dp0010003  ... estabratio2013 Empratio2013  \
0      3933       263       220  ...        28.0929       638.06
1      2513       145       156  ...         20.484      342.596
2      4333       337       339  ...        10.3988      140.662
3      4333       337       339  ...        20.3892      327.582
4      4428       312       196  ...        42.7737       915.31

  estabratio2012 Empratio2012 estabratio2011 Empratio2011 estabratio2010  \
0        27.7896      614.934        37.4571      1022.11        39.1632
1        20.7981      339.904        22.7276      377.821        22.3237
2        9.86098      134.631        12.2895      206.347        12.4525
3        20.7457      325.443        31.5819      592.428        32.1166
4         40.641      870.878        48.1649      1039.72        49.3498

  Empratio2010 estabratio2009 Empratio2009
0      1037.27        38.9736       1071.4
1       371.09         22.234      369.071
2      207.977        12.8437      216.127
3      580.308        31.8314      577.813
4      1049.79        49.4682      995.882

[5 rows x 218 columns]
  cartodb_id                                           the_geom  \
0      54823  (POLYGON ((-122.67809 45.56266900000014, -122....
1      54874  (POLYGON ((-122.723153 45.47230700000006, -122...
2      54924  (POLYGON ((-122.58001 45.46152, -122.589372 45...
3      54924  (POLYGON ((-122.58001 45.46152, -122.589372 45...
4      54795  (POLYGON ((-122.579016 45.55542500000013, -122...

           namelsad10      aland10 awater10   intptlat10    intptlon10  \
0  Census Tract 38.03  1.23125e+06        0  +45.5663019  -122.6847298
1  Census Tract 66.01  1.57524e+06        0  +45.4719196  -122.7334204
2     Census Tract 86  1.28215e+06     3236  +45.4693388  -122.5861747
3     Census Tract 86  1.28215e+06     3236  +45.4693388  -122.5861747
4  Census Tract 29.01  1.53618e+06        0  +45.5514471  -122.5927389

  dp0010001 dp0010002 dp0010003  ... estabratio2013 Empratio2013  \
0      3933       263       220  ...        28.0929       638.06
1      2513       145       156  ...         20.484      342.596
2      4333       337       339  ...        10.3988      140.662
3      4333       337       339  ...        20.3892      327.582
4      4428       312       196  ...        42.7737       915.31

  estabratio2012 Empratio2012 estabratio2011 Empratio2011 estabratio2010  \
0        27.7896      614.934        37.4571      1022.11        39.1632
1        20.7981      339.904        22.7276      377.821        22.3237
2        9.86098      134.631        12.2895      206.347        12.4525
3        20.7457      325.443        31.5819      592.428        32.1166
4         40.641      870.878        48.1649      1039.72        49.3498

  Empratio2010 estabratio2009 Empratio2009
0      1037.27        38.9736       1071.4
1       371.09         22.234      369.071
2      207.977        12.8437      216.127
3      580.308        31.8314      577.813
4      1049.79        49.4682      995.882

[5 rows x 218 columns]
  cartodb_id                                           the_geom  \
0      54823  (POLYGON ((-122.67809 45.56266900000014, -122....
1      54874  (POLYGON ((-122.723153 45.47230700000006, -122...
2      54924  (POLYGON ((-122.58001 45.46152, -122.589372 45...
3      54924  (POLYGON ((-122.58001 45.46152, -122.589372 45...
4      54795  (POLYGON ((-122.579016 45.55542500000013, -122...

           namelsad10      aland10 awater10   intptlat10    intptlon10  \
0  Census Tract 38.03  1.23125e+06        0  +45.5663019  -122.6847298
1  Census Tract 66.01  1.57524e+06        0  +45.4719196  -122.7334204
2     Census Tract 86  1.28215e+06     3236  +45.4693388  -122.5861747
3     Census Tract 86  1.28215e+06     3236  +45.4693388  -122.5861747
4  Census Tract 29.01  1.53618e+06        0  +45.5514471  -122.5927389

  dp0010001 dp0010002 dp0010003  ... estabratio2013 Empratio2013  \
0      3933       263       220  ...        28.0929       638.06
1      2513       145       156  ...         20.484      342.596
2      4333       337       339  ...        10.3988      140.662
3      4333       337       339  ...        20.3892      327.582
4      4428       312       196  ...        42.7737       915.31

  estabratio2012 Empratio2012 estabratio2011 Empratio2011 estabratio2010  \
0        27.7896      614.934        37.4571      1022.11        39.1632
1        20.7981      339.904        22.7276      377.821        22.3237
2        9.86098      134.631        12.2895      206.347        12.4525
3        20.7457      325.443        31.5819      592.428        32.1166
4         40.641      870.878        48.1649      1039.72        49.3498

  Empratio2010 estabratio2009 Empratio2009
0      1037.27        38.9736       1071.4
1       371.09         22.234      369.071
2      207.977        12.8437      216.127
3      580.308        31.8314      577.813
4      1049.79        49.4682      995.882

[5 rows x 218 columns]
  cartodb_id                                           the_geom  \
0      54823  (POLYGON ((-122.67809 45.56266900000014, -122....
1      54874  (POLYGON ((-122.723153 45.47230700000006, -122...
2      54924  (POLYGON ((-122.58001 45.46152, -122.589372 45...
3      54924  (POLYGON ((-122.58001 45.46152, -122.589372 45...
4      54795  (POLYGON ((-122.579016 45.55542500000013, -122...

           namelsad10      aland10 awater10   intptlat10    intptlon10  \
0  Census Tract 38.03  1.23125e+06        0  +45.5663019  -122.6847298
1  Census Tract 66.01  1.57524e+06        0  +45.4719196  -122.7334204
2     Census Tract 86  1.28215e+06     3236  +45.4693388  -122.5861747
3     Census Tract 86  1.28215e+06     3236  +45.4693388  -122.5861747
4  Census Tract 29.01  1.53618e+06        0  +45.5514471  -122.5927389

  dp0010001 dp0010002 dp0010003  ... estabratio2013 Empratio2013  \
0      3933       263       220  ...        28.0929       638.06
1      2513       145       156  ...         20.484      342.596
2      4333       337       339  ...        10.3988      140.662
3      4333       337       339  ...        20.3892      327.582
4      4428       312       196  ...        42.7737       915.31

  estabratio2012 Empratio2012 estabratio2011 Empratio2011 estabratio2010  \
0        27.7896      614.934        37.4571      1022.11        39.1632
1        20.7981      339.904        22.7276      377.821        22.3237
2        9.86098      134.631        12.2895      206.347        12.4525
3        20.7457      325.443        31.5819      592.428        32.1166
4         40.641      870.878        48.1649      1039.72        49.3498

  Empratio2010 estabratio2009 Empratio2009
0      1037.27        38.9736       1071.4
1       371.09         22.234      369.071
2      207.977        12.8437      216.127
3      580.308        31.8314      577.813
4      1049.79        49.4682      995.882

[5 rows x 218 columns]
  cartodb_id                                           the_geom  \
0      54823  (POLYGON ((-122.67809 45.56266900000014, -122....
1      54874  (POLYGON ((-122.723153 45.47230700000006, -122...
2      54924  (POLYGON ((-122.58001 45.46152, -122.589372 45...
3      54924  (POLYGON ((-122.58001 45.46152, -122.589372 45...
4      54795  (POLYGON ((-122.579016 45.55542500000013, -122...

           namelsad10      aland10 awater10   intptlat10    intptlon10  \
0  Census Tract 38.03  1.23125e+06        0  +45.5663019  -122.6847298
1  Census Tract 66.01  1.57524e+06        0  +45.4719196  -122.7334204
2     Census Tract 86  1.28215e+06     3236  +45.4693388  -122.5861747
3     Census Tract 86  1.28215e+06     3236  +45.4693388  -122.5861747
4  Census Tract 29.01  1.53618e+06        0  +45.5514471  -122.5927389

  dp0010001 dp0010002 dp0010003  ... estabratio2013 Empratio2013  \
0      3933       263       220  ...        28.0929       638.06
1      2513       145       156  ...         20.484      342.596
2      4333       337       339  ...        10.3988      140.662
3      4333       337       339  ...        20.3892      327.582
4      4428       312       196  ...        42.7737       915.31

  estabratio2012 Empratio2012 estabratio2011 Empratio2011 estabratio2010  \
0        27.7896      614.934        37.4571      1022.11        39.1632
1        20.7981      339.904        22.7276      377.821        22.3237
2        9.86098      134.631        12.2895      206.347        12.4525
3        20.7457      325.443        31.5819      592.428        32.1166
4         40.641      870.878        48.1649      1039.72        49.3498

  Empratio2010 estabratio2009 Empratio2009
0      1037.27        38.9736       1071.4
1       371.09         22.234      369.071
2      207.977        12.8437      216.127
3      580.308        31.8314      577.813
4      1049.79        49.4682      995.882

[5 rows x 218 columns]
  cartodb_id                                           the_geom  \
0      54823  (POLYGON ((-122.67809 45.56266900000014, -122....
1      54874  (POLYGON ((-122.723153 45.47230700000006, -122...
2      54924  (POLYGON ((-122.58001 45.46152, -122.589372 45...
3      54924  (POLYGON ((-122.58001 45.46152, -122.589372 45...
4      54795  (POLYGON ((-122.579016 45.55542500000013, -122...

           namelsad10      aland10 awater10   intptlat10    intptlon10  \
0  Census Tract 38.03  1.23125e+06        0  +45.5663019  -122.6847298
1  Census Tract 66.01  1.57524e+06        0  +45.4719196  -122.7334204
2     Census Tract 86  1.28215e+06     3236  +45.4693388  -122.5861747
3     Census Tract 86  1.28215e+06     3236  +45.4693388  -122.5861747
4  Census Tract 29.01  1.53618e+06        0  +45.5514471  -122.5927389

  dp0010001 dp0010002 dp0010003  ... estabratio2013 Empratio2013  \
0      3933       263       220  ...        28.0929       638.06
1      2513       145       156  ...         20.484      342.596
2      4333       337       339  ...        10.3988      140.662
3      4333       337       339  ...        20.3892      327.582
4      4428       312       196  ...        42.7737       915.31

  estabratio2012 Empratio2012 estabratio2011 Empratio2011 estabratio2010  \
0        27.7896      614.934        37.4571      1022.11        39.1632
1        20.7981      339.904        22.7276      377.821        22.3237
2        9.86098      134.631        12.2895      206.347        12.4525
3        20.7457      325.443        31.5819      592.428        32.1166
4         40.641      870.878        48.1649      1039.72        49.3498

  Empratio2010 estabratio2009 Empratio2009
0      1037.27        38.9736       1071.4
1       371.09         22.234      369.071
2      207.977        12.8437      216.127
3      580.308        31.8314      577.813
4      1049.79        49.4682      995.882

[5 rows x 218 columns]
  cartodb_id                                           the_geom  \
0      54823  (POLYGON ((-122.67809 45.56266900000014, -122....
1      54874  (POLYGON ((-122.723153 45.47230700000006, -122...
2      54924  (POLYGON ((-122.58001 45.46152, -122.589372 45...
3      54924  (POLYGON ((-122.58001 45.46152, -122.589372 45...
4      54795  (POLYGON ((-122.579016 45.55542500000013, -122...

           namelsad10      aland10 awater10   intptlat10    intptlon10  \
0  Census Tract 38.03  1.23125e+06        0  +45.5663019  -122.6847298
1  Census Tract 66.01  1.57524e+06        0  +45.4719196  -122.7334204
2     Census Tract 86  1.28215e+06     3236  +45.4693388  -122.5861747
3     Census Tract 86  1.28215e+06     3236  +45.4693388  -122.5861747
4  Census Tract 29.01  1.53618e+06        0  +45.5514471  -122.5927389

  dp0010001 dp0010002 dp0010003  ... estabratio2013 Empratio2013  \
0      3933       263       220  ...        28.0929       638.06
1      2513       145       156  ...         20.484      342.596
2      4333       337       339  ...        10.3988      140.662
3      4333       337       339  ...        20.3892      327.582
4      4428       312       196  ...        42.7737       915.31

  estabratio2012 Empratio2012 estabratio2011 Empratio2011 estabratio2010  \
0        27.7896      614.934        37.4571      1022.11        39.1632
1        20.7981      339.904        22.7276      377.821        22.3237
2        9.86098      134.631        12.2895      206.347        12.4525
3        20.7457      325.443        31.5819      592.428        32.1166
4         40.641      870.878        48.1649      1039.72        49.3498

  Empratio2010 estabratio2009 Empratio2009
0      1037.27        38.9736       1071.4
1       371.09         22.234      369.071
2      207.977        12.8437      216.127
3      580.308        31.8314      577.813
4      1049.79        49.4682      995.882

[5 rows x 218 columns]
  cartodb_id                                           the_geom  \
0      54823  (POLYGON ((-122.67809 45.56266900000014, -122....
1      54874  (POLYGON ((-122.723153 45.47230700000006, -122...
2      54924  (POLYGON ((-122.58001 45.46152, -122.589372 45...
3      54924  (POLYGON ((-122.58001 45.46152, -122.589372 45...
4      54795  (POLYGON ((-122.579016 45.55542500000013, -122...

           namelsad10      aland10 awater10   intptlat10    intptlon10  \
0  Census Tract 38.03  1.23125e+06        0  +45.5663019  -122.6847298
1  Census Tract 66.01  1.57524e+06        0  +45.4719196  -122.7334204
2     Census Tract 86  1.28215e+06     3236  +45.4693388  -122.5861747
3     Census Tract 86  1.28215e+06     3236  +45.4693388  -122.5861747
4  Census Tract 29.01  1.53618e+06        0  +45.5514471  -122.5927389

  dp0010001 dp0010002 dp0010003  ... estabratio2013 Empratio2013  \
0      3933       263       220  ...        28.0929       638.06
1      2513       145       156  ...         20.484      342.596
2      4333       337       339  ...        10.3988      140.662
3      4333       337       339  ...        20.3892      327.582
4      4428       312       196  ...        42.7737       915.31

  estabratio2012 Empratio2012 estabratio2011 Empratio2011 estabratio2010  \
0        27.7896      614.934        37.4571      1022.11        39.1632
1        20.7981      339.904        22.7276      377.821        22.3237
2        9.86098      134.631        12.2895      206.347        12.4525
3        20.7457      325.443        31.5819      592.428        32.1166
4         40.641      870.878        48.1649      1039.72        49.3498

  Empratio2010 estabratio2009 Empratio2009
0      1037.27        38.9736       1071.4
1       371.09         22.234      369.071
2      207.977        12.8437      216.127
3      580.308        31.8314      577.813
4      1049.79        49.4682      995.882

[5 rows x 218 columns]

In [42]:
len(df_finalraw)

5024

In [43]:
df_finalraw

,geo_id,pop,centroid,year,geometry,edut,collegemale,collegefemale,households,income,zipcode,geoid,Empratio,estabratio
0,06073000100,3149.0,POINT (-117.18599 32.75306),2010,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",2394.0,291.0,318.0,118.0,1347.0,NaN,NaN,NaN,NaN
1,06073001000,5403.0,POINT (-117.14173 32.76036),2010,"MULTIPOLYGON (((-117.14625 32.75722, -117.1462...",4338.0,588.0,537.0,141.0,2595.0,NaN,NaN,NaN,NaN
2,06073010001,3741.0,POINT (-117.05548 32.58682),2010,"MULTIPOLYGON (((-117.07309 32.59110, -117.0711...",2593.0,105.0,115.0,74.0,1069.0,NaN,NaN,NaN,NaN
3,06073010003,5309.0,POINT (-117.04408 32.57884),2010,"MULTIPOLYGON (((-117.05047 32.58368, -117.0453...",3295.0,235.0,152.0,108.0,1364.0,NaN,NaN,NaN,NaN
4,06073010004,4624.0,POINT (-117.05229 32.57093),2010,"MULTIPOLYGON (((-117.06530 32.57431, -117.0644...",3033.0,160.0,163.0,74.0,1063.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
623,06073009804,5022.0,POINT (-117.01341 32.80855),2017,"MULTIPOLYGON (((-117.02500 32.80450, -117.0207...",3537.0,373.0,402.0,178.0,1860.0,NaN,NaN,NaN,NaN
624,06073009805,4940.0,POINT (-117.03437 32.81559),2017,"MULTIPOLYGON (((-117.05899 32.81720, -117.0568...",3703.0,348.0,360.0,195.0,2034.0,NaN,NaN,NaN,NaN
625,06073009901,804.0,POINT (-117.24480 32.68956),2017,"MULTIPOLYGON (((-117.25586 32.70752, -117.2494...",267.0,61.0,0.0,NaN,4.0,NaN,NaN,NaN,NaN
626,06073009902,0.0,POINT (-117.18985 32.69994),2017,"MULTIPOLYGON (((-117.23987 32.69593, -117.2392...",0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
627,06073990100,0.0,None,2017,None,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN

In [44]:
df_final=df_finalraw.sort_values(by=['zipcode','geo_id','year'])

In [45]:
df_final

,geo_id,pop,centroid,year,geometry,edut,collegemale,collegefemale,households,income,zipcode,geoid,Empratio,estabratio
0,06073000100,3149.0,POINT (-117.18599 32.75306),2010,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",2394.0,291.0,318.0,118.0,1347.0,NaN,NaN,NaN,NaN
0,06073000100,2848.0,POINT (-117.18599 32.75306),2011,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",2177.0,333.0,325.0,122.0,1246.0,NaN,NaN,NaN,NaN
0,06073000100,2920.0,POINT (-117.18599 32.75306),2012,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",2263.0,355.0,361.0,130.0,1241.0,NaN,NaN,NaN,NaN
0,06073000100,2710.0,POINT (-117.18599 32.75306),2013,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",2215.0,425.0,355.0,128.0,1212.0,NaN,NaN,NaN,NaN
0,06073000100,2696.0,POINT (-117.18599 32.75306),2014,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",2207.0,432.0,376.0,134.0,1233.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
627,06073990100,0.0,None,2013,None,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
627,06073990100,0.0,None,2014,None,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
627,06073990100,0.0,None,2015,None,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
627,06073990100,0.0,None,2016,None,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
627,06073990100,0.0,None,2017,None,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN

In [46]:
variablename2=['edut','collegemale','collegefemale','pop','households','income']
for i in variablename2:
    df_final[i] = pd.to_numeric(df_final[i])

In [47]:
#B01001_010E ,#B01001_015E
#B01001_034E #B01001_039E
#B01001_020E #B01001_025E
#B01001_044E  #B01001_049E

In [48]:
variablelist2=['B01001_010E','B01001_011E','B01001_012E','B01001_013E','B01001_014E',
             'B01001_015E','B01001_034E','B01001_035E','B01001_036E','B01001_037E','B01001_038E',
              'B01001_039E']
variablename2=['male1','male2','male3','male4','male5','male6','female1','female2','female3',
              'female4','female5','female6']
dfem2=cbpNaics1

In [49]:
def finaldatamerge2(variablelist,variablename,dfem):
    dfem.geoid=dfem.geoid.astype(str)
    for i in range(len(variablelist)):
        query = Query(
        estimate=5,
        years=[2009,2010,2011,2012,2013,2014,2015,2016,2017],
    
        variables=[variablelist[i]],
        for_geo='tract:*',
        in_geo=['state:06', 'county:073'],
    # Fill in the following with your actual Census API key
        census_api_key='0995bcf2c5a4aa42899cf705840809959c68cf75'
      )
        temp=query.run()
        temp.rename(columns={'value':variablename[i]}, 
                 inplace=True)
        if i==0:
            dfmerge=temp
        else:
            dfmerge = pd.merge(dfmerge, temp[[variablename[i],'geo_id','year']], on=['geo_id','year'])
    dfmerge.geo_id=dfmerge.geo_id.astype(str)
    dfmerge.geo_id=dfmerge.geo_id.apply(lambda x:x[9:20])
    frames=[]
    mergegeo=dfmerge[dfmerge['year']==2013]
    
    for i in yearlist:
        
        temp1=dfmerge[dfmerge['year']==i]
        if i<2013:
            temp1=temp1.drop(columns=['geometry','centroid'])
            temp1 = pd.merge(temp1, mergegeo[['geo_id','geometry','centroid']], on=['geo_id'])
        tempfinal= temp1
        #pd.merge(temp1,dfem,right_on='geoid',left_on='geo_id')
        yearstr=str(i)
        
        #emprat='Empratio'+yearstr
        #estabr='estabratio'+yearstr
       # tempfinal=tempfinal[['geo_id','pop', 'centroid','year','geometry', 'edut','collegemale','collegefemale','households', 'income', 'gini', 'total_p',
       #'ratio_65', 'zipcode', 'geoid', 'NAICS', emprat, estabr]]
        tempfinal=tempfinal[['geo_id', 'centroid','year','geometry', 'male1','male2','male3','male4','male5','male6','female1','female2','female3',
              'female4','female5','female6']]
        tempfinal.columns=['geo_id', 'centroid','year','geometry', 'male1','male2','male3','male4','male5','male6','female1','female2','female3',
              'female4','female5','female6']
        frames.append(tempfinal)


    final = pd.concat(frames)
#     import numpy as np
#     final = final.replace(np.nan, '', regex=True)
#     final=final[['geo_id', 'centroid','year','geometry', 'male1','male2','male3','male4','male5','male6','female1','female2','female3',
#               'female4','female5','female6']]

    return final

In [50]:
df_age=finaldatamerge2(variablelist2,variablename2,cbpNaics1)

Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...

In [51]:
len(df_age)

5584

In [52]:
pd.set_option('display.max_columns', None)

In [53]:
df_age = df_age.dropna()

In [54]:
df_age

,geo_id,centroid,year,geometry,male1,male2,male3,male4,male5,male6,female1,female2,female3,female4,female5,female6
0,06073000100,POINT (-117.18599 32.75306),2009,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",14.0,58.0,34.0,134.0,49.0,89.0,0.0,59.0,18.0,134.0,127.0,181.0
1,06073001000,POINT (-117.14173 32.76036),2009,"MULTIPOLYGON (((-117.14625 32.75722, -117.1462...",128.0,273.0,311.0,496.0,216.0,203.0,189.0,416.0,463.0,272.0,126.0,196.0
2,06073010001,POINT (-117.05548 32.58682),2009,"MULTIPOLYGON (((-117.07309 32.59110, -117.0711...",0.0,217.0,87.0,110.0,201.0,172.0,78.0,90.0,126.0,179.0,130.0,94.0
3,06073010003,POINT (-117.04408 32.57884),2009,"MULTIPOLYGON (((-117.05047 32.58368, -117.0453...",74.0,227.0,235.0,286.0,197.0,186.0,111.0,175.0,69.0,336.0,123.0,184.0
4,06073010004,POINT (-117.05229 32.57093),2009,"MULTIPOLYGON (((-117.06530 32.57431, -117.0644...",65.0,96.0,109.0,179.0,26.0,191.0,78.0,263.0,201.0,93.0,189.0,87.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5584,06073009802,POINT (-117.01411 32.79684),2017,"MULTIPOLYGON (((-117.02424 32.79330, -117.0240...",127.0,319.0,324.0,159.0,126.0,216.0,29.0,133.0,342.0,205.0,267.0,247.0
5593,06073009804,POINT (-117.01341 32.80855),2017,"MULTIPOLYGON (((-117.02500 32.80450, -117.0207...",124.0,68.0,42.0,144.0,245.0,200.0,70.0,119.0,154.0,183.0,188.0,159.0
5602,06073009805,POINT (-117.03437 32.81559),2017,"MULTIPOLYGON (((-117.05899 32.81720, -117.0568...",46.0,159.0,217.0,127.0,145.0,105.0,112.0,188.0,157.0,152.0,99.0,283.0
5611,06073009901,POINT (-117.24480 32.68956),2017,"MULTIPOLYGON (((-117.25586 32.70752, -117.2494...",220.0,163.0,27.0,25.0,10.0,14.0,21.0,18.0,4.0,6.0,0.0,0.0
5620,06073009902,POINT (-117.18985 32.69994),2017,"MULTIPOLYGON (((-117.23987 32.69593, -117.2392...",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [55]:
df_final.columns

Index(['geo_id', 'pop', 'centroid', 'year', 'geometry', 'edut', 'collegemale',
       'collegefemale', 'households', 'income', 'zipcode', 'geoid', 'Empratio',
       'estabratio'],
      dtype='object')

In [56]:
len(df_final)

5024

In [57]:
finalwitholdage = pd.merge(df_age,df_final[['geo_id','pop','year', 'edut', 'collegemale',
       'collegefemale', 'households', 'income', 'zipcode', 'Empratio', 'estabratio']], on=['geo_id','year'])

In [58]:
finalwitholdage=finalwitholdage.sort_values(by=['zipcode','geo_id','year'])

In [59]:
finalwitholdage.head()

,geo_id,centroid,year,geometry,male1,male2,male3,male4,male5,male6,female1,female2,female3,female4,female5,female6,pop,edut,collegemale,collegefemale,households,income,zipcode,Empratio,estabratio
0,06073000100,POINT (-117.18599 32.75306),2010,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",11.0,17.0,26.0,153.0,143.0,78.0,43.0,52.0,29.0,98.0,165.0,160.0,3149.0,2394.0,291.0,318.0,118.0,1347.0,NaN,NaN,NaN
627,06073000100,POINT (-117.18599 32.75306),2011,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",12.0,0.0,29.0,93.0,110.0,96.0,36.0,53.0,19.0,85.0,97.0,146.0,2848.0,2177.0,333.0,325.0,122.0,1246.0,NaN,NaN,NaN
1254,06073000100,POINT (-117.18599 32.75306),2012,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",13.0,0.0,18.0,85.0,112.0,59.0,41.0,48.0,24.0,71.0,114.0,142.0,2920.0,2263.0,355.0,361.0,130.0,1241.0,NaN,NaN,NaN
1881,06073000100,POINT (-117.18599 32.75306),2013,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",21.0,0.0,21.0,111.0,109.0,61.0,17.0,29.0,20.0,149.0,118.0,71.0,2710.0,2215.0,425.0,355.0,128.0,1212.0,NaN,NaN,NaN
2508,06073000100,POINT (-117.18599 32.75306),2014,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",24.0,0.0,29.0,60.0,91.0,77.0,32.0,18.0,22.0,151.0,91.0,49.0,2696.0,2207.0,432.0,376.0,134.0,1233.0,NaN,NaN,NaN

In [60]:
finalwitholdage['ratio_65']=(finalwitholdage['male1']+finalwitholdage['male2']+finalwitholdage['male3']+
finalwitholdage['male4']+finalwitholdage['male5']+finalwitholdage['male6']
                            +finalwitholdage['female1']+finalwitholdage['female2']+finalwitholdage['female3']+
finalwitholdage['female4']+finalwitholdage['female5']+finalwitholdage['female6'])/finalwitholdage['pop']

In [61]:
finalwitholdage=finalwitholdage.drop(columns=['male1','male2','male3','male4','male5','male6','female1','female2','female3',
              'female4','female5','female6'])

In [62]:
finalwitholdage.head(500)

,geo_id,centroid,year,geometry,pop,edut,collegemale,collegefemale,households,income,zipcode,Empratio,estabratio,ratio_65
0,06073000100,POINT (-117.18599 32.75306),2010,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",3149.0,2394.0,291.0,318.0,118.0,1347.0,NaN,NaN,NaN,0.309622
627,06073000100,POINT (-117.18599 32.75306),2011,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",2848.0,2177.0,333.0,325.0,122.0,1246.0,NaN,NaN,NaN,0.272472
1254,06073000100,POINT (-117.18599 32.75306),2012,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",2920.0,2263.0,355.0,361.0,130.0,1241.0,NaN,NaN,NaN,0.248973
1881,06073000100,POINT (-117.18599 32.75306),2013,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",2710.0,2215.0,425.0,355.0,128.0,1212.0,NaN,NaN,NaN,0.268266
2508,06073000100,POINT (-117.18599 32.75306),2014,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",2696.0,2207.0,432.0,376.0,134.0,1233.0,NaN,NaN,NaN,0.238872
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4832,06073003114,POINT (-117.04500 32.69983),2017,"MULTIPOLYGON (((-117.05468 32.70129, -117.0507...",3577.0,2596.0,235.0,487.0,116.0,788.0,NaN,NaN,NaN,0.358960
444,06073003115,POINT (-117.03802 32.69562),2010,"MULTIPOLYGON (((-117.04961 32.69528, -117.0427...",6547.0,3765.0,370.0,375.0,143.0,1658.0,NaN,NaN,NaN,0.330991
1071,06073003115,POINT (-117.03802 32.69562),2011,"MULTIPOLYGON (((-117.04961 32.69528, -117.0427...",6576.0,4068.0,352.0,432.0,145.0,1706.0,NaN,NaN,NaN,0.365572
1698,06073003115,POINT (-117.03802 32.69562),2012,"MULTIPOLYGON (((-117.04961 32.69528, -117.0427...",6481.0,3970.0,336.0,432.0,153.0,1660.0,NaN,NaN,NaN,0.367382
2325,06073003115,POINT (-117.03802 32.69562),2013,"MULTIPOLYGON (((-117.04961 32.69528, -117.0427...",6891.0,4232.0,257.0,394.0,155.0,1774.0,NaN,NaN,NaN,0.367581

In [63]:
variablelist3=['B01001_020E','B01001_021E','B01001_022E','B01001_023E','B01001_024E',
             'B01001_025E','B01001_044E','B01001_045E','B01001_046E','B01001_047E','B01001_048E',
              'B01001_049E']
variablename3=['male1','male2','male3','male4','male5','male6','female1','female2','female3',
              'female4','female5','female6']
#yearlist=[2009,2010,2011,2012,2013,2014,2015,2016]
##communte time, public transportation,traffic flow , zipcode, varaibles, machine learning,k means
dfem3=cbpNaics1

In [64]:
df_ageyoung=finaldatamerge2(variablelist3,variablename3,cbpNaics1)

Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...
Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...

In [65]:
finalwitholdage2 = pd.merge(df_ageyoung,finalwitholdage[['geo_id','pop','year', 'edut', 'collegemale',
       'collegefemale', 'households', 'income', 'zipcode',  'Empratio', 'estabratio','ratio_65']], on=['geo_id','year'])

In [66]:
finalwitholdage2['ratio_22_50']=(finalwitholdage2['male1']+finalwitholdage2['male2']+finalwitholdage2['male3']+
finalwitholdage2['male4']+finalwitholdage2['male5']+finalwitholdage2['male6']
                            +finalwitholdage2['female1']+finalwitholdage2['female2']+finalwitholdage2['female3']+
finalwitholdage2['female4']+finalwitholdage2['female5']+finalwitholdage2['female6'])/finalwitholdage2['pop']

In [67]:
finalwitholdage2=finalwitholdage2.sort_values(by=['zipcode','geo_id','year'])

In [68]:
finalwitholdage2=finalwitholdage2.drop(columns=['male1','male2','male3','male4','male5','male6','female1','female2','female3',
              'female4','female5','female6'])

In [69]:
len(finalwitholdage2)

5016

In [70]:
len(finalwitholdage2)

5016

In [71]:
#variablelist4=['B08006_001E','B08006_002E','B08006_008E','B08006_009E','B08006_0010E',
#             'B08006_014E','B08006_015E','B08006_017E']
#variablename4=['total_tran','car','publictrans','bus','subway','bicy','walked','work_at_home']
#yearlist=[2009,2010,2011,2012,2013,2014,2015,2016]
##communte time, public transportation,traffic flow , zipcode, varaibles, machine learning,k means

variablelist4=['B08006_001E','B08006_002E','B08006_008E','B08006_009E',
            'B08006_014E','B08006_015E','B08006_017E']
variablename4=['total_tran','car','publictrans','bus','bicy','walked','work_at_home']
dfem4=cbpNaics1

In [72]:

def finaldatamerge3(variablelist,variablename,dfem):
    dfem.geoid=dfem.geoid.astype(str)
    for i in range(len(variablelist)):
        
        query = Query(
        estimate=5,
        years=[2009,2010,2011,2012,2013,2014,2015,2016,2017],
        variables=[variablelist[i]],
        for_geo='tract:*',
        in_geo=['state:06', 'county:073'],
        census_api_key='0995bcf2c5a4aa42899cf705840809959c68cf75'
      )
        
        temp=query.run()
        temp.rename(columns={'value':variablename[i]}, 
                 inplace=True)
        if i==0:
            dfmerge=temp
        else:
            dfmerge = pd.merge(dfmerge, temp[[variablename[i],'geo_id','year']], on=['geo_id','year'])
    dfmerge.geo_id=dfmerge.geo_id.astype(str)
    dfmerge.geo_id=dfmerge.geo_id.apply(lambda x:x[9:20])
    frames=[]
    mergegeo=dfmerge[dfmerge['year']==2013]
    
    for i in yearlist:
        
        temp1=dfmerge[dfmerge['year']==i]
        if i<2013:
            temp1=temp1.drop(columns=['geometry','centroid'])
            temp1 = pd.merge(temp1, mergegeo[['geo_id','geometry','centroid']], on=['geo_id'])
        tempfinal= temp1
        #pd.merge(temp1,dfem,right_on='geoid',left_on='geo_id')
        yearstr=str(i)
        
        #emprat='Empratio'+yearstr
        #estabr='estabratio'+yearstr
       # tempfinal=tempfinal[['geo_id','pop', 'centroid','year','geometry', 'edut','collegemale','collegefemale','households', 'income', 'gini', 'total_p',
       #'ratio_65', 'zipcode', 'geoid', 'NAICS', emprat, estabr]]
        tempfinal=tempfinal[['geo_id', 'centroid','year','geometry','total_tran','car','publictrans','bus','bicy','walked','work_at_home']]
        tempfinal.columns=['geo_id', 'centroid','year','geometry', 'total_tran','car','publictrans','bus','bicy','walked','work_at_home']
        frames.append(tempfinal)


    final = pd.concat(frames)
#     import numpy as np
#     final = final.replace(np.nan, '', regex=True)
#     final=final[['geo_id', 'centroid','year','geometry','total_tran','car','publictrans','bus','bicy','walked','work_at_home']]

    return final

In [73]:
df_city=finaldatamerge3(variablelist4,variablename4,dfem4)

Retrieving variables...

C:\Users\Ram\anaconda3\lib\site-packages\autocensus\query.py:195: UserWarning: B08006_001E is not a recognized variable for 2009. Note that the Census API does not contain 1-year estimate data for 2009
  warn(message)

Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...

C:\Users\Ram\anaconda3\lib\site-packages\autocensus\query.py:195: UserWarning: B08006_002E is not a recognized variable for 2009. Note that the Census API does not contain 1-year estimate data for 2009
  warn(message)

Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...

C:\Users\Ram\anaconda3\lib\site-packages\autocensus\query.py:195: UserWarning: B08006_008E is not a recognized variable for 2009. Note that the Census API does not contain 1-year estimate data for 2009
  warn(message)

Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...

C:\Users\Ram\anaconda3\lib\site-packages\autocensus\query.py:195: UserWarning: B08006_009E is not a recognized variable for 2009. Note that the Census API does not contain 1-year estimate data for 2009
  warn(message)

Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...

C:\Users\Ram\anaconda3\lib\site-packages\autocensus\query.py:195: UserWarning: B08006_014E is not a recognized variable for 2009. Note that the Census API does not contain 1-year estimate data for 2009
  warn(message)

Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...

C:\Users\Ram\anaconda3\lib\site-packages\autocensus\query.py:195: UserWarning: B08006_015E is not a recognized variable for 2009. Note that the Census API does not contain 1-year estimate data for 2009
  warn(message)

Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...
Retrieving variables...

C:\Users\Ram\anaconda3\lib\site-packages\autocensus\query.py:195: UserWarning: B08006_017E is not a recognized variable for 2009. Note that the Census API does not contain 1-year estimate data for 2009
  warn(message)

Retrieving ACS tables...
Retrieving shapefiles...
Merging ACS tables and variables...
Merging annotations...
Merging shapefiles...
Finalizing data...

In [74]:
finalwitholdage2.columns

Index(['geo_id', 'centroid', 'year', 'geometry', 'pop', 'edut', 'collegemale',
       'collegefemale', 'households', 'income', 'zipcode', 'Empratio',
       'estabratio', 'ratio_65', 'ratio_22_50'],
      dtype='object')

In [75]:
df_city=df_city.sort_values(by=['geo_id','year'])

In [76]:
df_city.head(100)

,geo_id,centroid,year,geometry,total_tran,car,publictrans,bus,bicy,walked,work_at_home
0,06073000100,POINT (-117.18599 32.75306),2010,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",1392.0,1159.0,22.0,22.0,11.0,62.0,129.0
0,06073000100,POINT (-117.18599 32.75306),2011,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",1148.0,943.0,20.0,20.0,12.0,29.0,127.0
0,06073000100,POINT (-117.18599 32.75306),2012,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",1189.0,978.0,18.0,18.0,0.0,23.0,154.0
3,06073000100,POINT (-117.18599 32.75306),2013,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",1212.0,940.0,22.0,22.0,0.0,16.0,215.0
4,06073000100,POINT (-117.18599 32.75306),2014,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",1200.0,940.0,13.0,13.0,0.0,19.0,202.0
...,...,...,...,...,...,...,...,...,...,...,...
247,06073001100,POINT (-117.13351 32.76528),2017,"MULTIPOLYGON (((-117.13935 32.76770, -117.1377...",2337.0,1986.0,83.0,62.0,19.0,21.0,150.0
40,06073001200,POINT (-117.13179 32.75808),2010,"MULTIPOLYGON (((-117.13762 32.76099, -117.1339...",2946.0,2407.0,392.0,346.0,0.0,66.0,81.0
40,06073001200,POINT (-117.13179 32.75808),2011,"MULTIPOLYGON (((-117.13762 32.76099, -117.1339...",3137.0,2610.0,363.0,335.0,0.0,69.0,84.0
40,06073001200,POINT (-117.13179 32.75808),2012,"MULTIPOLYGON (((-117.13762 32.76099, -117.1339...",3138.0,2636.0,352.0,323.0,13.0,72.0,53.0
323,06073001200,POINT (-117.13179 32.75808),2013,"MULTIPOLYGON (((-117.13762 32.76099, -117.1339...",3272.0,2805.0,319.0,266.0,15.0,64.0,57.0

In [77]:
finalwitholdage2

,geo_id,centroid,year,geometry,pop,edut,collegemale,collegefemale,households,income,zipcode,Empratio,estabratio,ratio_65,ratio_22_50
0,06073000100,POINT (-117.18599 32.75306),2010,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",3149.0,2394.0,291.0,318.0,118.0,1347.0,NaN,NaN,NaN,0.309622,0.187361
627,06073000100,POINT (-117.18599 32.75306),2011,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",2848.0,2177.0,333.0,325.0,122.0,1246.0,NaN,NaN,NaN,0.272472,0.239817
1254,06073000100,POINT (-117.18599 32.75306),2012,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",2920.0,2263.0,355.0,361.0,130.0,1241.0,NaN,NaN,NaN,0.248973,0.222945
1881,06073000100,POINT (-117.18599 32.75306),2013,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",2710.0,2215.0,425.0,355.0,128.0,1212.0,NaN,NaN,NaN,0.268266,0.288561
2508,06073000100,POINT (-117.18599 32.75306),2014,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",2696.0,2207.0,432.0,376.0,134.0,1233.0,NaN,NaN,NaN,0.238872,0.311573
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2286,06073022100,POINT (-117.29383 33.12709),2013,"MULTIPOLYGON (((-117.33373 33.14433, -117.3161...",8786.0,5707.0,831.0,986.0,223.0,3222.0,NaN,NaN,NaN,0.371955,0.097200
2913,06073022100,POINT (-117.29381 33.12707),2014,"MULTIPOLYGON (((-117.33373 33.14433, -117.3161...",8809.0,5594.0,914.0,1002.0,200.0,3205.0,NaN,NaN,NaN,0.362470,0.088319
3540,06073022100,POINT (-117.29381 33.12707),2015,"MULTIPOLYGON (((-117.33373 33.14433, -117.3161...",9172.0,5941.0,879.0,1101.0,194.0,3260.0,NaN,NaN,NaN,0.365678,0.094963
4167,06073022100,POINT (-117.29381 33.12707),2016,"MULTIPOLYGON (((-117.33373 33.14433, -117.3161...",9580.0,6168.0,891.0,1028.0,193.0,3350.0,NaN,NaN,NaN,0.376514,0.097390
4794,06073022100,POINT (-117.29381 33.12707),2017,"MULTIPOLYGON (((-117.33373 33.14433, -117.3161...",9730.0,6017.0,1013.0,1036.0,186.0,3355.0,NaN,NaN,NaN,0.356321,0.097945

In [78]:
finalwithcity = pd.merge(df_city,finalwitholdage2[['geo_id','year','pop', 'edut', 'collegemale',
       'collegefemale', 'households', 'income', 'zipcode', 'Empratio',
       'estabratio', 'ratio_65', 'ratio_22_50']], on=['geo_id','year'])

In [79]:
finalwitholdage2

,geo_id,centroid,year,geometry,pop,edut,collegemale,collegefemale,households,income,zipcode,Empratio,estabratio,ratio_65,ratio_22_50
0,06073000100,POINT (-117.18599 32.75306),2010,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",3149.0,2394.0,291.0,318.0,118.0,1347.0,NaN,NaN,NaN,0.309622,0.187361
627,06073000100,POINT (-117.18599 32.75306),2011,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",2848.0,2177.0,333.0,325.0,122.0,1246.0,NaN,NaN,NaN,0.272472,0.239817
1254,06073000100,POINT (-117.18599 32.75306),2012,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",2920.0,2263.0,355.0,361.0,130.0,1241.0,NaN,NaN,NaN,0.248973,0.222945
1881,06073000100,POINT (-117.18599 32.75306),2013,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",2710.0,2215.0,425.0,355.0,128.0,1212.0,NaN,NaN,NaN,0.268266,0.288561
2508,06073000100,POINT (-117.18599 32.75306),2014,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",2696.0,2207.0,432.0,376.0,134.0,1233.0,NaN,NaN,NaN,0.238872,0.311573
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2286,06073022100,POINT (-117.29383 33.12709),2013,"MULTIPOLYGON (((-117.33373 33.14433, -117.3161...",8786.0,5707.0,831.0,986.0,223.0,3222.0,NaN,NaN,NaN,0.371955,0.097200
2913,06073022100,POINT (-117.29381 33.12707),2014,"MULTIPOLYGON (((-117.33373 33.14433, -117.3161...",8809.0,5594.0,914.0,1002.0,200.0,3205.0,NaN,NaN,NaN,0.362470,0.088319
3540,06073022100,POINT (-117.29381 33.12707),2015,"MULTIPOLYGON (((-117.33373 33.14433, -117.3161...",9172.0,5941.0,879.0,1101.0,194.0,3260.0,NaN,NaN,NaN,0.365678,0.094963
4167,06073022100,POINT (-117.29381 33.12707),2016,"MULTIPOLYGON (((-117.33373 33.14433, -117.3161...",9580.0,6168.0,891.0,1028.0,193.0,3350.0,NaN,NaN,NaN,0.376514,0.097390
4794,06073022100,POINT (-117.29381 33.12707),2017,"MULTIPOLYGON (((-117.33373 33.14433, -117.3161...",9730.0,6017.0,1013.0,1036.0,186.0,3355.0,NaN,NaN,NaN,0.356321,0.097945

In [80]:
finalwithcity=finalwithcity.sort_values(by=['zipcode','geo_id','year'])

In [81]:
finalwithcity['bus_ratio']=finalwithcity['bus']/finalwithcity['publictrans']
finalwithcity['bus_ratio_total']=finalwithcity['bus']/finalwithcity['total_tran']
finalwithcity['public_ratio']=finalwithcity['publictrans']/finalwithcity['total_tran']
#finalwithcity['subway_ratio']=finalwithcity['subway']/finalwithcity['publictrans']
#finalwithcity['subway_ratio_total']=finalwithcity['subway']/finalwithcity['total_tran']
finalwithcity['car_ratio']=finalwithcity['car']/finalwithcity['total_tran']
finalwithcity['bicy_ratio']=finalwithcity['bicy']/finalwithcity['total_tran']
finalwithcity['walked_ratio']=finalwithcity['walked']/finalwithcity['total_tran']
finalwithcity['work_at_home']=finalwithcity['work_at_home']/finalwithcity['total_tran']

In [82]:
finalwithcity=finalwithcity.drop(columns=['car','publictrans','bus','bicy','walked','work_at_home'])

In [83]:
finalwithcity=finalwithcity.fillna(0)

In [84]:
finalwithcity.head(100)

,geo_id,centroid,year,geometry,total_tran,pop,edut,collegemale,collegefemale,households,income,zipcode,Empratio,estabratio,ratio_65,ratio_22_50,bus_ratio,bus_ratio_total,public_ratio,car_ratio,bicy_ratio,walked_ratio
0,06073000100,POINT (-117.18599 32.75306),2010,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",1392.0,3149.0,2394.0,291.0,318.0,118.0,1347.0,0,0,0,0.309622,0.187361,1.000000,0.015805,0.015805,0.832615,0.007902,0.044540
1,06073000100,POINT (-117.18599 32.75306),2011,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",1148.0,2848.0,2177.0,333.0,325.0,122.0,1246.0,0,0,0,0.272472,0.239817,1.000000,0.017422,0.017422,0.821429,0.010453,0.025261
2,06073000100,POINT (-117.18599 32.75306),2012,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",1189.0,2920.0,2263.0,355.0,361.0,130.0,1241.0,0,0,0,0.248973,0.222945,1.000000,0.015139,0.015139,0.822540,0.000000,0.019344
3,06073000100,POINT (-117.18599 32.75306),2013,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",1212.0,2710.0,2215.0,425.0,355.0,128.0,1212.0,0,0,0,0.268266,0.288561,1.000000,0.018152,0.018152,0.775578,0.000000,0.013201
4,06073000100,POINT (-117.18599 32.75306),2014,"MULTIPOLYGON (((-117.19485 32.75446, -117.1918...",1200.0,2696.0,2207.0,432.0,376.0,134.0,1233.0,0,0,0,0.238872,0.311573,1.000000,0.010833,0.010833,0.783333,0.000000,0.015833
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,06073001100,POINT (-117.13351 32.76528),2017,"MULTIPOLYGON (((-117.13935 32.76770, -117.1377...",2337.0,3392.0,2794.0,704.0,346.0,154.0,1709.0,0,0,0,0.640625,0.061026,0.746988,0.026530,0.035516,0.849807,0.008130,0.008986
96,06073001200,POINT (-117.13179 32.75808),2010,"MULTIPOLYGON (((-117.13762 32.76099, -117.1339...",2946.0,5420.0,3820.0,361.0,375.0,153.0,2880.0,0,0,0,0.529520,0.073985,0.882653,0.117447,0.133062,0.817040,0.000000,0.022403
97,06073001200,POINT (-117.13179 32.75808),2011,"MULTIPOLYGON (((-117.13762 32.76099, -117.1339...",3137.0,5511.0,4070.0,570.0,365.0,158.0,2924.0,0,0,0,0.575758,0.066050,0.922865,0.106790,0.115716,0.832005,0.000000,0.021996
98,06073001200,POINT (-117.13179 32.75808),2012,"MULTIPOLYGON (((-117.13762 32.76099, -117.1339...",3138.0,5545.0,4035.0,521.0,468.0,162.0,2982.0,0,0,0,0.576555,0.071957,0.917614,0.102932,0.112173,0.840025,0.004143,0.022945
99,06073001200,POINT (-117.13179 32.75808),2013,"MULTIPOLYGON (((-117.13762 32.76099, -117.1339...",3272.0,5553.0,4215.0,600.0,495.0,159.0,2908.0,0,0,0,0.599136,0.097245,0.833856,0.081296,0.097494,0.857274,0.004584,0.019560

In [85]:
# finalwithcity.to_csv("~/Downloads/Final_merged_city_portland.csv")

In [87]:
cbpNaics1.head()

,cartodb_id,the_geom,namelsad10,aland10,awater10,intptlat10,intptlon10,dp0010001,dp0010002,dp0010003,dp0010004,dp0010005,dp0010006,dp0010007,dp0010008,dp0010009,dp0010010,dp0010011,dp0010012,dp0010013,dp0010014,dp0010015,dp0010016,dp0010017,dp0010018,dp0010019,dp0010020,dp0010021,dp0010022,dp0010023,dp0010024,dp0010025,dp0010026,dp0010027,dp0010028,dp0010029,dp0010030,dp0010031,dp0010032,dp0010033,dp0010034,dp0010035,dp0010036,dp0010037,dp0010038,dp0010039,dp0010040,dp0010041,dp0010042,dp0010043,dp0010044,dp0010045,dp0010046,dp0010047,dp0010048,dp0010049,dp0010050,dp0010051,dp0010052,dp0010053,dp0010054,dp0010055,dp0010056,dp0010057,dp0020001,dp0020002,dp0020003,dp0030001,dp0030002,dp0030003,dp0040001,dp0040002,dp0040003,dp0050001,dp0050002,dp0050003,dp0060001,dp0060002,dp0060003,dp0070001,dp0070002,dp0070003,dp0080001,dp0080002,dp0080003,dp0080004,dp0080005,dp0080006,dp0080007,dp0080008,dp0080009,dp0080010,dp0080011,dp0080012,dp0080013,dp0080014,dp0080015,dp0080016,dp0080017,geoid10,dp0080019,dp0080020,dp0080021,dp0080022,dp0080023,dp0080024,dp0090001,dp0090002,dp0090003,dp0090004,dp0090005,dp0090006,dp0100001,dp0100002,dp0100003,dp0100004,dp0100005,dp0100006,dp0100007,dp0110001,dp0110002,dp0110003,dp0110004,dp0110005,dp0110006,dp0110007,dp0110008,dp0110009,dp0110010,dp0110011,dp0110012,dp0110013,dp0110014,dp0110015,dp0110016,dp0110017,dp0120001,dp0120002,dp0120003,dp0120004,dp0120005,dp0120006,dp0120007,dp0120008,dp0120009,dp0120010,dp0120011,dp0120012,dp0120013,dp0120014,dp0120015,dp0120016,dp0120017,dp0120018,dp0120019,dp0120020,dp0130001,dp0130002,dp0130003,dp0130004,dp0130005,dp0130006,dp0130007,dp0130008,dp0130009,dp0130010,dp0130011,dp0130012,dp0130013,dp0130014,dp0130015,dp0140001,dp0150001,dp0160001,dp0170001,dp0180001,dp0180002,dp0180003,dp0180004,dp0180005,dp0180006,dp0180007,dp0180008,dp0180009,dp0190001,dp0200001,dp0210001,dp0210002,dp0210003,dp0220001,dp0220002,dp0230001,dp0230002,shape_leng,shape_area,created_at,updated_at,dp0080018,zipcode,geoid,estabratio2017,Empratio2017,estabratio2016,Empratio2016,estabratio2015,Empratio2015,estabratio2014,Empratio2014,estabratio2013,Empratio2013,estabratio2012,Empratio2012,estabratio2011,Empratio2011,estabratio2010,Empratio2010,estabratio2009,Empratio2009
0,54823,"(POLYGON ((-122.67809 45.56266900000014, -122....",Census Tract 38.03,1.23125e+06,0,+45.5663019,-122.6847298,3933,263,220,133,163,225,438,518,431,334,256,260,227,165,116,76,38,22,48,1964,126,127,77,75,115,191,257,223,181,146,128,114,78,54,35,15,6,16,1969,137,93,56,88,110,247,261,208,153,110,132,113,87,62,41,23,16,32,35.1,35.4,34.9,3278,1616,1662,3228,1597,1631,3110,1538,1572,397,171,226,300,126,174,3933,3698,2864,448,38,197,27,26,19,16,12,82,15,24,0,0,1,41051003803,127,235,40,52,49,38,3067,531,104,269,37,186,3933,332,241,22,12,57,3601,3933,332,144,8,11,1,0,109,59,3601,2720,440,27,196,24,18,176,3933,3925,1661,574,821,612,244,81,39,625,12,7,225,8,0,0,0,8,1,7,1661,854,372,574,232,91,37,189,103,807,476,227,34,249,58,416,252,2.36,2.92,1754,1661,93,24,2,24,5,6,32,2.4,3.4,1661,991,670,2425,1500,2.45,2.24,0.0537382,0.000141907,2015-05-08 13:43:04.642+00,2015-05-08 15:02:25.754+00,23,97217,41051003803,31.9978,488.687,31.9978,736.632,30.8984,677.868,29.4198,669.907,28.0929,638.06,27.7896,614.934,37.4571,1022.11,39.1632,1037.27,38.9736,1071.4
1,54874,"(POLYGON ((-122.723153 45.47230700000006, -122...",Census Tract 66.01,1.57524e+06,0,+45.4719196,-122.7334204,2513,145,156,143,104,85,117,162,181,165,187,201,230,192,100,59,61,76,149,1192,72,86,79,62,48,58,68,98,82,79,103,109,90,46,29,25,24,34,1321,73,70,64,42,37,59,94,83,83,108,98,121,102,54,30,36,52,115,44.9,41.6,48.1,2043,941,1102,1996,913,1083,1951,882,1069,550,210,340,445,158,287,2513,2410,2283,16,11,68,7,23,1,18,11,3,5,5,5,0,0,41051006601,27,103,29,28,23,7,2381,51,46,105,6,37,2513,98,54,8,16,20,2415,2513,98,56,0,1,0,0,23,18,2415,2227,16,10,68,5,4,85,2513,2415,1051,530,624,491,73,20,15,137,6,6,67,98,98,31,67,0,0,0,1051,646,291,530,224,31,17,85,50,405,317,104,26,213,115,307,283,2.3,2.9,1110,1051,59,17,1,12,3,4,22,1.5,6.1,1051,792,259,1921,494,2.43,1.91,0.0586831,0.000181252,2015-05-08 13:43:04.642+00,2015-05-08 15:02:25.754+00,0,97219,41051006601,21.0224,270.353,21.3365,350.897,20.9551,349.551,20.8205,343.494,20.484,342.596,20.7981,339.904,22.7276,377.821,22.3237,371.09,22.234,369.071
2,54924,"(POLYGON ((-122.58001 45.46152, -122.589372 45...",Census Tract 86,1.28215e+06,3236,+45.4693388,-122.5861747,4333,337,339,308,256,253,363,401,355,297,318,292,300,193,105,78,52,48,38,2156,168,170,158,141,129,178,182,190,139,161,137,158,105,55,37,21,15,12,2177,169,169,150,115,124,185,219,165,158,157,155,142,88,50,41,31,33,26,33.7,33.6,33.8,3296,1630,1666,3186,1570,1616,3050,1505,1545,419,198,221,321,140,181,4333,4059,2779,239,68,573,14,136,54,10,5,248,106,12,0,5,0,41051008600,388,274,61,42,64,43,3027,338,161,637,31,451,4333,766,590,21,16,139,3567,4333,766,277,7,22,3,0,386,71,3567,2502,232,46,570,12,2,203,4333,4276,1522,564,1340,1017,362,105,46,488,23,18,178,57,0,0,0,57,35,22,1522,950,509,564,281,108,54,278,174,572,384,189,20,195,59,572,246,2.81,3.39,1620,1522,98,43,1,27,7,0,20,2.9,6.3,1522,887,635,2420,1856,2.73,2.92,0.0493294,0.000147892,2015-05-08 13:43:04.642+00,2015-05-08 15:02:25.754+00,7,97206,41051008600,12.0288,153.538,11.7354,162.502,11.2953,156.635,10.6759,150.604,10.3988,140.662,9.86098,134.631,12.2895,206.347,12.4525,207.977,12.8437,216.127
3,54924,"(POLYGON ((-122.58001 45.46152, -122.589372 45...",Census Tract 86,1.28215e+06,3236,+45.4693388,-122.5861747,4333,337,339,308,256,253,363,401,355,297,318,292,300,193,105,78,52,48,38,2156,168,170,158,141,129,178,182,190,139,161,137,158,105,55,37,21,15,12,2177,169,169,150,115,124,185,219,165,158,157,155,142,88,50,41,31,33,26,33.7,33.6,33.8,3296,1630,1666,3186,1570,1616,3050,1505,1545,419,198,221,321,140,181,4333,4059,2779,239,68,573,14,136,54,10,5,248,106,12,0,5,0,41051008600,388,274,61,42,64,43,3027,338,161,637,31,451,4333,766,590,21,16,139,3567,4333,766,277,7,22,3,0,386,71,3567,2502,232,46,570,12,2,203,4333,4276,1522,564,1340,1017,362,105,46,488,23,18,178,57,0,0,0,57,35,22,1522,950,509,564,281,108,54,278,174,572,384,189,20,195,59,572,246,2.81,3.39,1620,1522,98,43,1,27,7,0,20,2.9,6.3,1522,887,635,2420,1856,2.73,2.92,0.0493294,0.000147892,2015-05-08 13:43:04.642+00,2015-05-08 15:02:25.754+00,7,97266,41051008600,21.1021,289.441,21.815,361.089,21.2091,360.376,21.0665,360.376,20.3892,327.582,20.7457,325.443,31.5819,592.428,32.1166,580.308,31.8314,577.813
4,54795,"(POLYGON ((-122.579016 45.55542500000013, -122...",Census Tract 29.01,1.53618e+06,0,+45.5514471,-122.5927389,4428,312,196,160,147,181,374,493,486,404,332,319,306,264,178,80,65,65,66,2131,163,98,87,70,87,171,249,249,215,148,147,135,127,88,32,25,19,21,2297,149,98,73,77,94,203,244,237,189,184,172,171,137,90,48,40,46,45,38.8,38.1,39.5,3732,1767,1965,3678,1743,1935,3578,1696,1882,611,261,350,454,185,269,4428,4272,3578,224,49,301,8,26,19,14,7,190,37,21,4,2,0,41051002901,99,156,36,27,31,19,3716,289,111,346,27,125,4428,261,196,18,3,44,4167,4428,261,113,15,17,10,0,82,24,4167,3465,209,32,291,21,17,132,4428,4424,1968,801,945,683,219,61,41,491,6,13,221,4,0,0,0,4,4,0,1968,1067,428,801,315,84,29,182,84,901,617,239,49,378,117,464,372,2.25,2.84,2060,1968,92,34,2,22,3,2,29,1.5,6.1,1968,1443,525,3267,1157,2.26,2.2,0.0651858,0.000177004,2015-05-08 13:43:04.642+00,2015-05-08 15:02:25.754+00,15,97213,41051002901,47.3947,677.744,48.0464,1034.39,46.6838,1014.25,44.1956,951.449,42.7737,915.31,40.641,870.878,48.1649,1039.72,49.3498,1049.79,49.4682,995.882